:root {
  --font-family: "Open Sans", sans-serif;
  --color-gray: #5d5d5d;
  --color-red: #fe0000;
  --color-white: #fff;
  --border-radius: 20px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-30: 30px;
  --padding-20: 20px;
  --font-size-20: 20px;
  --font-size-32: 32px;
  --font-size-44: 44px;
  --font-size-200: 200px;
  --max-width-750: 750px;
  --max-width-970: 970px;
  --max-width-1170: 1170px;
}

/* Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  all: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--color-gray);
  font-size: var(--font-size-32);
  margin-bottom: var(--margin-20);
  text-align: center;
}

.container {
  padding-left: var(--margin-15);
  padding-right: var(--margin-15);
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: var(--max-width-750);
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: var(--max-width-970);
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: var(--max-width-1170);
  }
}

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.landing-page header .logo {
  color: var(--color-gray);
  font-style: italic;
  text-transform: uppercase;
  font-size: var(--font-size-20);
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: var(--font-size-20);
    margin-bottom: var(--font-size-20);
  }
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}

.landing-page header .links li {
  margin-left: 30px;
  color: var(--color-gray);
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-red);
}

.landing-page header .links li:not(:last-child):hover {
  color: var(--color-red);
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
}

.landing-page .content .info h1 {
  color: var(--color-gray);
  font-size: 44px;
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: var(--color-gray);
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-red);
}

.landing-page .content .image img {
  max-width: 100%;
}

.about-us {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.about-us .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-us p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}

.products {
  padding: 50px 0;
}

.product-card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--margin-20);
  padding: var(--margin-20);
  width: 300px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h2 {
  color: var(--color-gray);
  font-size: var(--font-size-20);
  margin-top: var(--margin-20);
}

.product-card p {
  color: var(--color-gray);
  font-size: 18px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  flex: 1 0 200px;
  margin: 10px;
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
  .product-card {
    flex: 1 0 100%;
  }
}

/* Para pantallas medianas */
@media (min-width: 601px) and (max-width: 900px) {
  .product-card {
    flex: 1 0 45%;
  }
}

/* Para pantallas grandes */
@media (min-width: 901px) {
  .product-card {
    flex: 1 0 200px;
  }
}

#hero .image img {
  max-width: 70%;
  height: auto;
}

@media (max-width: 600px) {
  #hero .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  background-color: #f5f5f5;
  padding: var(--padding-50-0);
  color: var(--color-gray);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .contact-info,
.footer .copyright {
  width: 50%;
}

@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .contact-info,
  .footer .copyright {
    width: 100%;
  }
}